.post-tags {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  justify-content: center;
}
 
.tag-block {
  background-color: #ffeeac;
  border: 1px solid #000000;
  padding: 4px 10px;
  font-size: 0.85rem;
  border-radius: 4px;
  color: #000000;
  font-weight: 500;
}