.post-tags {
  margin: 10px 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  justify-content: center;
}
 
.tag-block {
  background-color: #ffeeac;
  border: 1px solid #000000;
  padding: 4px 10px;
  font-size: 0.85rem;
  border-radius: 4px;
  color: #000000;
  font-weight: 500;
}

.social-links {
  text-align: center;
  font-size: 1.05rem;
}

.social-links a {
  color: #79b8ff; 
  text-decoration: none;
  color: inherit;
  margin: 0 5px;
}

.separator {
  margin: 0 10px;
  color: #888;
}
